extends layout

block content
  h1= title
  div(id="listing")

  script(src="/socket.io/socket.io.js")
  script.
    var socket = io('//localhost:3000');
    socket.on('hot', function (data) {
      data = JSON.parse(data);
      for(var i = 0; i < data['data']['children'].length; i++){
        post = data['data']['children'][i];
        var node = document.createElement("P");
        node.append(post['data']['title']);
        document.getElementById('listing').appendChild(node);
      }
    });
